.container {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  position: relative;
  
}

.input {
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: aliceblue;
  border-bottom: 1px solid;
  margin: 0.5em 0 0.5em 0;
  padding-left: 0.5em;
  width: 95%;
  font-size: 1.1em;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
  background: #c8c9bf00;
}

.input:focus {
  border: 3px solid #064635;;
  border-radius: 5px;
}

/* clears the ‘X’ from Internet Explorer */
.input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
.input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
/* clears the ‘X’ from Chrome */
.input[type="search"]::-webkit-search-decoration,
.input[type="search"]::-webkit-search-cancel-button,
.input[type="search"]::-webkit-search-results-button,
.input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

input::placeholder {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
  font-style: italic;
}

@media only screen and (max-width: 1200px) {
  input::placeholder {
    font-size: 1.1rem;
  }
}

.suggestions {
  position: absolute;
  width: 95%;
  top: 3.5em;
  height: fit-content;
  z-index: 10000;
  background-color: rgb(255, 255, 255);
  font-size: 1.2em;
  border-radius: 5px;
}

.suggestion {
  list-style: none;
  overflow: hidden;
  margin: 0.5em;
  cursor: pointer;
}

.suggestion:hover {
  background-color: rgb(185, 193, 201);
}
