.container {
  margin: 1em;
  font-family: Roboto, sans-serif;
}

.container h6 {
  font-size: 1em;
}

.mainAndMoreInfoContaniner {
  margin-bottom: 1em;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  background: #aebc4648;
}

.foodbank {
  display: flex;
  font-weight: 600;
  padding: 1em 0 1em 0;
}

.foodbank a {
  color: black;
}

.mainInfo {
  flex-grow: 1;
  overflow: auto;
}

.mainInfo h3 {
  font-family: Tungsten-Semibold;
  font-size: 2em;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  font-weight: bold;
}

.contactDetails {
  display: flex;
  flex-wrap: wrap;
}

.locationIcon {
  margin: 1em 1em 0 1em;
  padding: 0.3em;
  display: flex;
  justify-content: center;
  color: white;
  background-color: green !important;
  height: 2.5em !important;
  min-width: fit-content !important;
  width: 1.8em !important;
  border-radius: 69% 71% 90% 95% / 45% 47% 100% 100%;
}

.locationIcon h4 {
  font-size: 1.2em;
}

.address {
  color: #545454;
  width: 80%;
}

.phone,
.homepage,
.email,
.distance {
  margin-top: 0.4em;
  margin-right: 1.2em;
  flex: 40%;
  text-decoration: none;
  display: flex;
  align-items: center;
  width: fit-content;
}

.phone img,
.homepage img,
.email img {
  height: 1em;
  margin-right: 0.7em;
}

.distance img {
  height: 1.8em;
}

.moreInfo {
  display: flex;
  align-items: center;
  align-self: flex-end;
  white-space: nowrap;
  color: green;
  margin-right: 1em;
  font-family: Tungsten-Semibold;
  font-size: 1.4em;
  justify-content: center;
}

.moreInfo img {
  height: 0.8em;
  margin-right: 0.7em;
  margin-left: 0.3em;
}

.moreInfo h6 {
  font-weight: 100;
}

.moreInfoRevealed {
  padding: 0.8em;
}

.collapsible {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0.5em;
}

.tooManyResultsMessage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30vh;
  text-align: center;
}

.tooManyResultsMessage img {
  margin-bottom: 0.5em;
  height: 6em;
}

.tooManyResultsMessage h3 {
  font-family: Tungsten-Semibold;
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 100;
}

.tooManyResultsMessage h4 {
  color: #545454;
  font-size: 1em;
  font-weight: 100;
}

@media only screen and (max-width: 700px) {
  .foodbank {
    padding: .5em 0 0 0;
    font-weight: 400;
  }

  .foodbank img {
    height: 1.5em;
  }

  .address {
    width: 95%;
    font-size: 1.2em ;
  }

  .homepage h6 {
    font-size: 1.2em;
    text-transform: capitalize;
  }

  .phone h6 {
    font-size: 1.2em;
  }

  .email h6 {
    font-size: 1.2em;
    width: 80%;
  }

  .distance h6 {
    font-size: 1.2em
  }

  .mainInfo h3 {
    font-size: 2em ;
  }

  .mainInfo h4 {
    font-size: .8em;
  }

  .moreInfo img {
    height: .6em ;
  }

  .moreInfo {
    margin: .5em 0 0 .5em;;
    text-decoration: underline;
    
  }

  .moreInfoRevealed {
    padding: 0 0.5em 0 0.5em ;
    font-size: 1em;
    text-align: center;
  }
  
  .collapsible {
    margin-bottom: 0 ;
  }
}