.bodyContainer {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
}

.mapWrapper {
  height: 30vh;
}

.resultsContainer {
  flex-grow: 1;
  overflow: auto;
}

.searchboxContainer {
  display: flex;
  align-items: center;
  min-height: 3em;
}

.searchboxContainer img {
  padding: 0.3em;
  margin-left: 0.5em;
  height: 2em;
}

.my-location-container {
  color: #008000;
  display: flex;
  align-items: center;
  margin-right: 1em;
  cursor: pointer;
}

.my-location-container:hover > * {
  cursor: pointer;
}

.my-div-icon {
  padding: 0.3em;
  display: flex;
  justify-content: center;
  color: white;
  background-color: green !important;
  height: 2.5em !important;
  min-width: fit-content !important;
  width: 1.8em !important;
  border-radius: 69% 71% 90% 95% / 45% 47% 100% 100%;
}

.my-div-icon h4 {
  font-size: 1.2em;
}

.leaflet-container {
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
}

.MuiPaper-root {
  min-width: 50vw;
}

.MuiPaper-root span {
  font-size: 1.3em;
}

