.bodyContainer {
  display: flex;
  flex-grow: 1;
  height: fit-content;
  height: 90vh;
}

.mapWrapper {
  flex-grow: 1;
}

@media only screen and (max-width: 1200px) {
  .bodyContainer {
    min-width: 100vw;
    flex-direction: column;
  }
  .input-and-results-container {
    display: flex;
    flex-direction: column;
    background: #c8c9bf48;
    justify-content: center;
    align-items: center;
    max-height: 40vh;
  }
}

.input-and-results-container {
  display: flex;
  flex-direction: column;
  background: #c8c9bf48;
}

.resultsContainer {
  width: 25vw;
  overflow: auto;
}

.searchboxContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.my-location-container {
  color: #008000;
  display: flex;
  align-items: center;
  margin-right: 1em;
  cursor: pointer;
}

.my-location-container:hover > * {
  cursor: pointer;
}

.searchboxContainer img {
  padding: 0.3em;
  margin-left: 0.5em;
  height: 2em;
}

.my-div-icon {
  padding: .3em;
  display: flex;
  justify-content: center;
  color: white;
  background-color: green !important;
  height: 2.5em !important;
  min-width: fit-content !important; 
  width: 1.8em !important; 
  border-radius:69% 71% 90% 95% / 45% 47% 100% 100%;
}

.my-div-icon h4 {
  font-size: 1.2em;
}

.leaflet-container {
  width: 100%;
  height: 100%;
}


 
