.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em 0 1em;
    width: 100%;
    height: 10vh;
    max-width: 100%;
    background-color: #d44f3e;
}

.logo h1{
    margin: 0 0 0 .5em;
    font-family: Tungsten-Semibold;
    font-size: 4em;
    font-weight: 100;
    letter-spacing: 0.02em;
    color: #ffff;
    
}