.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em 0 1em;
    width: 100%;
    max-width: 100%;
    /* border: 1px solid red; */
}

.logo h1{
    font-family: Tungsten-Semibold;
    font-size: 4em;
    text-transform: uppercase;
    font-weight: 100;
}